<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416227379708-mongod9ipvkqlei0n2cl500eks00f5vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416227379708-mongod9ipvkqlei0n2cl500eks00f5vv</string>
	<key>API_KEY</key>
	<string>AIzaSyAZHrhdfWMxpu7enoGExr9CjHMnX_apyu4</string>
	<key>GCM_SENDER_ID</key>
	<string>416227379708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etvott.dev</string>
	<key>PROJECT_ID</key>
	<string>etv-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>etv-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416227379708:ios:b60fbf414e44b5a2430a79</string>
</dict>
</plist>